A List of Plants:


<table>
    <thead>
        <tr>
            <th width="100">Name     </th>
            <th width="300">Description</th>
            <th width="100">Plant_Id</th>
            <th width="100">Seller_id</th>
            
            <th colspan="4"></th>
        </tr>
    </thead>

    <tbody>
        <% @plants.each do |plant| %>
        <tr>
            <td width="200"><%= plant.name %></td>
            <td width="200"><%= plant.description %></td>
            <td width="200"><%= plant.id %></td>
            <td width="200"><%= plant.seller_id%></td>
            <!-- <td><%= plant.price %> </td> -->
        </tr>
        <% end %>
    </tbody>
</table>