<!DOCTYPE html>
<html>
  <head>
    <title>Bonsai4Sale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav> <%=  link_to "Log Out", logout_path, method: :delete  %> </nav>
  <br>

  <body>
    <%= yield %>
  </body>
</html>
