<!DOCTYPE html>
<html>
  <head>
    <title>Bonsai4Sale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav> 
   
      <%= link_to 'Log out', logout_path, method: :delete %>
      |
      <%= link_to 'Log in', login_path %>
      |
      <%= link_to 'Sign up', new_user_path %>
      |
      <%=  link_to "Add a Plant", new_plant_path  %>
      |
      <%= link_to "New Seller", new_seller_path %>

  </nav>

  <br>

  <body>
    <%= yield %>
  </body>
</html>
